/* YouTube */
#related, .uma {
  display: none;
}

/* Twitter */
.dashboard-right, .dashboard-left, .js-topbar, .promoted-tweet {
  display: none;
}

.js-media-container {
    display: none;
}

.AdaptiveMediaOuterContainer {
    display: none;
}

.permalink-tweet .AdaptiveMedia {
    display: block;
}

.permalink-tweet .js-media-container {
    display: block;
}
