a {
  color: black !important;
  text-decoration: none;
}

/* YouTube */
#related, .uma {
  display: none;
}

/* Twitter */
.dashboard-right, .dashboard-left, .js-topbar, .promoted-tweet {
  display: none;
}

.js-media-container {
    display: none;
}

.permalink-tweet .AdaptiveMedia {
    display: block;
}

.permalink-tweet .js-media-container {
    display: block;
}

.article_preview {
  display: none !important;
}

.title_meta {
  display: none !important;
}

.article_item_footer {
  display: none !important;
}
